<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit-home</title>
  <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-gray-100 h-screen flex-col items-center justify-center">
 
  <!-- navigation bar -->
  <%- include('../partials/header')%>
 
  <div class="bg-white p-8 w-2/5 mx-auto mt-4">

    <h1 class="text-2xl font-bold text-red-800 text-center mb-6">Edit your home</h1>

    <form action="/host/edit-home" method="POST" class="space-y-4">
      <input
        type="text"
        name="homename"
        value="<%=home.homename%>"
        placeholder="Enter Home Name"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
      />

      <input
        type="number"
        name="price"
         value="<%=home.price%>"
        placeholder="Enter The Price Per Night"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
      />

      <input
        type="text"
        name="location"
         value="<%=home.location%>"
        placeholder="Enter The Location"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
      />

      <input
        type="url"
        name="img"
        placeholder="Upload picter of your house"
         value="<%=home.img%>"
        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-500"
      />

      <button
        type="submit"
        value="update"
        class="w-full bg-red-600 text-white font-semibold py-2 rounded-md hover:bg-red-700 transition duration-300"
      >
      Update
      </button>
    </form>
  </div>
</body>
</html>